font-face {
    font-family: PlayfairDisplay; /* Имя шрифта */
    src: url(../fonts/PlayfairDisplay.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: PlayfairDisplayRegular; /* Имя шрифта */
    src: url(../fonts/Playfair_Display_Regular.ttf); /* Путь к файлу со шрифтом */
}
html{
    position: relative;
    left: -8px;
    top: -4px;
    font-family: PlayfairDisplayRegular;
    background: #FFFCF5;
}
button:hover{
    border: 2px solid #C08D5D;
    cursor: pointer;
}



.body{
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}


h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
}

h3{
    font-family: PlayfairDisplayRegular;
    font-size: 32px;
}

p{
    font-size: 18px;
}
.body{
    position: relative;
    top: 0px;
    left: 0px;
}
button:hover{
    border: 2px solid #C08D5D;
    cursor: pointer;
}

.main--block{
    position: relative;
    top: 26px;
    left: 10px;
    display: flex;
}

.button--go--back{
    position: relative;
    top: 7px;
    left: 62px;
}
.main--image{
    position: relative;
    top: 35px;
    left: 115px;
}



.main--block--info{
    position: relative;
    width: 350px;
    display: block;
    top: 187px;
    left: 244px;
}
.main--block--info > *{
    margin-top: 10px;
}
.main--block--info button{
    width: 222px;
    height: 61px;
    background-color: #C08D5D;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 32px;
}
.main--block--info p{
    font-size: 32px;
}

















/*-----------------------------------*/

.container--for--products{
    position: relative;
    top: -267px;
    left: 57px;
    width: 1700px;
    margin-bottom: 50px;
    display: flex;
}
.container--item--confectionery{
    position: relative;
    left: 213px;
    top: 214px;
    width: 421px;
    height: 660px;
    margin-right: 33px;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
}

.image--item{
    position: absolute;
    top: 25px;
    left: 65px;
}

.name--item{
    position: absolute;
    top: 280px;
    left: 37px;
}

.name--item h3{

}

.description--item{
    position: absolute;
    top: 370px;
    left: 37px;
}
.price--item{
    position: absolute;
    top: 560px;
    left: 37px;
}

.button--add--to--basket{
    position: absolute;
    top: 570px;
    left: 137px;
}
.button--add--to--basket button{
    width: 222px;
    height: 61px;
    background-color: #C08D5D;
    border-radius: 10px;
    position: absolute;
    top: 14px;
    left: 41px;
    border: none;
}

.button--add--to--basket button span{
    position: relative;
    top: -25px;
    left: 0px;
    color: #FFFCF5;
}
/* -----------------------------------*/