
.header{
    position: absolute;
    margin-top: 92px;
    margin-bottom: 20px;
    left: 55px;
    right: 50px;
    width: 1800px;
    height: 195px;
    display: flex;
}
header{
    position: relative;
    width: 1903px;
    height: 195px;
    background-color: #FFFAF3;
}

.main--header{
    color: #C08D5D;
}
header a {
    color: black;
}
.left--menu--header{
    position: relative;
    margin-top: -40px;
    left: 230px;
    width: 600px;
    height: 195px;
    display: flex;
    justify-content: center;
}

.left--menu--header h3{
    margin-right: 105px;
    letter-spacing: 2px;
}

.header--logo{
    position: relative;
    margin-top: -20px;
    left: 315px;
    width: 52px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.right--menu--header{
    position: relative;
    margin-top: 0px;
    left: 370px;
    width: 600px;
    height: 195px;
    display: flex;
    justify-content: center;
}

.right--menu--header h3{
    margin-right: 96px;
    letter-spacing: 2px;
}



.stock--help--header{
    position: relative;
    margin-top: -40px;
    margin-bottom: 20px;
    left: 133px;
    right: 50px;
    width: 600px;
    height: 195px;
    display: flex;
    justify-content: center;
}
.login--signup--header{
    position: relative;
    margin-top: -45px;
    margin-bottom: 20px;
    left: 40px;
    right: 50px;
    width: 600px;
    height: 195px;
    display: flex;
    justify-content: center;
}

.login--signup--header span{
    font-family: PlayfairDisplay;
    font-size: 32px;
}

.login--header {
    position: relative;
    height: 37px;
    left: 46px;
    top: 35px;
    border: none;
    outline: none;
    background-color: #FFFAF3;
}
.login--header:hover{
    border: none;
}
.signup--header{
    position: relative;
    top: 32px;
    left: 58px;
    border:none;
    outline: none;
    width: 145px;
    height: 53px;
    background-color: #C08D5D;
    border-radius: 15px;
}
.signup--header span{
    color: #FFFAF3;
}

.dropdown {
    font-size: 32px;
    position: relative;
    display: inline-block;
    left: 100px;
    top:-7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
